body {
    font-family: monospace;
    font-size: 16px;
    line-height: 2px;
    /* background-color: #004d9d; */
    color: white;
}

header {
    position: fixed;
    top: 20px;
    left: 20px;
}

h1 {
    font-size: 25px;
    font-weight: 650;
    margin-bottom: 5px;
}

footer {
    position: fixed;
    bottom: 20px;
    left: 20px;
}


a {
    color: white;
    text-decoration: none;
    margin: 0 10px 0 0;
    transition: all 0.5s;
}

a:hover {
    color: wheat;
}

section {
    height: 100vh;
    /* Adding in images */
    background-image: url(sally_1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section.sally_2 {
    background-image: url(sally_2.jpg);
}

section.sally_3 {
    background-image: url(sally_3.jpg);
}

section.sally_4 {
    background-image: url(sally_4.jpg);
}